# One Hot Encoding

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
# Load previously saved df
df = pd.read_csv('../data/online_retail_cleaned_up.csv')

# what countries do we have?
# Use df.Country.value_counts()

print("We have %s different countries "% len(df.Country.value_counts()) )
print(df.Country.value_counts())

We have 37 different countries
United Kingdom          317322
Germany                   7736
France                    7182
EIRE                      5766
Spain                     2141
Belgium                   1696
Switzerland               1538
Portugal                  1329
Norway                     812
Netherlands                676
Italy                      648
Channel Islands            621
Australia                  556
Finland                    546
Cyprus                     517
Austria                    353
Denmark                    304
Poland                     270
Sweden                     257
Unspecified                222
Israel                     204
Iceland                    168
USA                        165
Singapore                  160
Greece                     130
Canada                     128
Japan                      125
Malta                       93
United Arab Emirates        59
European Community          51
RSA                         48
Lebanon                     34
Brazil                      31
Lithuania                   30
Czech Republic              19
Bahrain                     11
Saudi Arabia                 9
Name: Country, dtype: int64

# Only keep the top 5 countries in the EU
Note: UK is no longer in the EU as of last Thursday

In [37]:
# Only Keep the top 5 countries
short_list_EU = df.Country.value_counts()[1:6].keys()
print(short_list_EU)

Index(['Germany', 'France', 'EIRE', 'Spain', 'Belgium'], dtype='object')

In [38]:
df = df[df.Country.isin(short_list_EU)]
print("We are down to %s rows" % df.shape[0])

We are down to 24521 rows

In [39]:
dummies = pd.get_dummies(df.Country).head()

In [40]:
df = df.join(dummies)

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Belgium,EIRE,France,Germany,Spain
140,10934,576607,21262,WHITE GOOSE FEATHER CHRISTMAS TREE,1,11/15/11 15:42,2.95,12474,Germany,0,0,0,1,0
141,10936,538644,21658,GLASS BEURRE DISH,1,12/13/10 14:39,3.95,12476,Germany,0,0,0,1,0
142,10949,540469,48138,DOORMAT UNION FLAG,1,1/7/11 14:04,7.95,12484,Spain,0,0,0,0,1
143,10950,540469,48111,DOORMAT 3 SMILEY CATS,1,1/7/11 14:04,7.95,12484,Spain,0,0,0,0,1
144,10951,540469,48129,DOORMAT TOPIARY,1,1/7/11 14:04,7.95,12484,Spain,0,0,0,0,1

In [41]:
df = df.drop('Country', axis = 1)
df.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Belgium,EIRE,France,Germany,Spain
140,10934,576607,21262,WHITE GOOSE FEATHER CHRISTMAS TREE,1,11/15/11 15:42,2.95,12474,0,0,0,1,0
141,10936,538644,21658,GLASS BEURRE DISH,1,12/13/10 14:39,3.95,12476,0,0,0,1,0
142,10949,540469,48138,DOORMAT UNION FLAG,1,1/7/11 14:04,7.95,12484,0,0,0,0,1
143,10950,540469,48111,DOORMAT 3 SMILEY CATS,1,1/7/11 14:04,7.95,12484,0,0,0,0,1
144,10951,540469,48129,DOORMAT TOPIARY,1,1/7/11 14:04,7.95,12484,0,0,0,0,1